body {
  font-size: 14px;
  font-family: 'Open Sans';
  max-width: 1400px;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  margin: 2rem auto;
}

.Active {
  font-weight: 900;
  color: white;
  background-color: #016AD9;
  font-size: 15px;
}
.row1 div{
  margin: 0 10px;
}

.deleteBtn{
  margin: 5px 2px;
}

#project-list {
  margin: 5px 0;
}

.actionButtons button {
  margin-left: 5px;
}
#todo-form input{
  margin: 1px;
}
/*
#project-list li {
  margin: 0 19px;
}

.col-12 {
  margin: 10px 0;
  padding: 10px;
  list-style: none;
  border: 1px solid #ced4da;
}

.actionButtons {
  position: absolute;
  top: 0;
  right: 2%;
}

 */

#todo-desc {
  height: 58px;
}
